.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.stem {
    height: 7%;
    width: 3%;
    border-top-left-radius: 50%;
    background-position: top left;
    background: radial-gradient(circle at 53% 36%, transparent 0%, transparent 40%, #ffc002 50%, #f88e8a 80%);
    background-size: 50px 50px;
    box-shadow: -5px 20px 8px -5px #ffc002;

}
.pumpkinContainer {
    width: 60%;
    height: 50%;
    background: radial-gradient(circle at 50% 50%,#ffc002 0%, #f88e8a 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.pumpkin1 {
    width: 15%;
    height: 100%;
    border: white 1px solid;
}
.pumpkin2 {
    width: 20%;
    height: 100%;
    border: purple 1px solid;
}
.pumpkinMiddle {
    width: 30%;
    height: 100%;
    border: solid 1px red;
}
.pumpkin3 {
    width: 20%;
    height: 100%;
    border: white 1px solid;
}
.pumpkin4 {
    width: 15%;
    height: 100%;
    border: purple 1px solid;
}