.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.stem {
    height: 7%;
    width: 3%;
    border-top-left-radius: 50%;
    background-position: top left;
    background: radial-gradient(circle at 53% 36%, transparent 0%, transparent 40%, #ffc002 50%, #f88e8a 80%);
    background-size: 50px 50px;
    box-shadow: -5px 20px 8px -5px #ffc002;

}
.pumpkinContainer {
    width: 60%;
    height: 50%;
    background: radial-gradient(circle at 50% 50%,#ffc002 60%, #f88e8a 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.pumpkin1 {
    width: 15%;
    height: 50%;
    border: 1px solid transparent;
    border-left: #fcb51d 5px solid;
    border-radius: 70%;
    box-shadow: 5px 10px 10px 0px #fcb51daf inset, -5px -10px 10px 0px #f1b023af inset, 0px 10px 10px 0px #fcb51d, 0px -10px 10px 0px #fcb51d;
}
.pumpkin2 {
    width: 20%;
    height: 90%;
    border-left: #fcb51d 3px solid;
    border-radius: 100%;
    box-shadow: 5px 10px 10px 0px #fcb51daf inset, -5px -5px 10px 5px #f1b023af inset, 0px 10px 10px 10px #fcb51d, 0px -10px 10px 0px #fcb51d;
}
.pumpkinMiddle {
    width: 30%;
    height: 97%;
    border-top: solid 10px #fcb51d;
    border-bottom: solid 10px #fcb51d;
    border-radius: 50%;
    box-shadow: 5px -10px 10px 0px #f1b023af inset, 0px 10px 10px 0px #fcb51d, 0px -10px 10px 0px #fcb51d, 0px -30px 1px -10px #000000da inset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
.leftEye {
    border-radius: 50%;
    width: 30%;
    height: 10%;
    margin-top: 80%;
    box-shadow: 0px -10px 1px 10px #000000da;
    z-index: +1;
}
.rightEye {
    border-radius: 50%;
    width: 30%;
    height: 10%;
    margin-top: 80%;
    margin-left: 40%;
    box-shadow: 0px -10px 1px 10px #000000da;
    z-index: +1;
}
.pumpkin3 {
    width: 20%;
    height: 85%;
    border-right: #fcb51d 3px solid;
    border-radius: 100%;
    box-shadow: 5px 10px 10px 0px #fcb51daf inset, -5px -10px 10px 0px #f1b023af inset, 0px 10px 10px 0px #fcb51d, 0px -10px 10px 0px #fcb51d;
}
.pumpkin4 {
    width: 15%;
    height: 50%;
    border: 1px solid transparent;
    border-right: #fcb51d 5px solid;
    border-radius: 70%;
    box-shadow: 5px 10px 10px 0px #fcb51daf inset, -5px -10px 10px 0px #f1b023af inset, 0px 10px 10px 0px #fcb51d, 0px -10px 10px 0px #fcb51d;
}