.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.avoBodyMain {
    width: 40%;
    height: 40%;
    border: solid 1px green;
    border-radius: 50%;
}
.avoBodysmall {
    width: 20%;
    height: 32%;
    border: solid 1px green;
    border-top-right-radius: 80% 40%;
    border-bottom-right-radius: 80% 40%;
    margin-top: -10%;
    margin-left: -12%;
    transform: rotate(-15deg);
}