.lightContainer {
    height: 70vh;
    width: 40%;
    margin: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    overflow: hidden;
    background: #010101;
    z-index: -2;
}
.lightTop {
    width: 40%;
    height: 5%;
    background: linear-gradient(90deg, #f4f4f4 0%, #bebfc1 54%, #b3b5af 68%, #d1d1d1 98%);
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    animation: lightOff 10s linear infinite;
}
.lightBand {
    width: 40%;
    height: 15%;
    background: linear-gradient(90deg, #3b3b3b 0%, #010101 54%, #040404 68%, #303030 98%);
}
.lightTopBottom {
    width: 40%;
    height: 5%;
    background: linear-gradient(90deg, #f4f4f4 0%, #bebfc1 54%, #b3b5af 68%, #d1d1d1 98%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.lightHandle {
    width: 28%;
    height: 20%;
    background: linear-gradient(90deg, #3b3b3b 0%, #010101 54%, #040404 68%, #303030 98%);
}
.eyes {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    align-self: center;
    z-index: +1;
}
.leftEye {
    width: 40%;
    height: 40%;
    border-top-right-radius: 100% 100px;
    border-top-left-radius: 40% 70px;
    border-bottom-left-radius: 70%;
    border: #000000 solid 5px;
    border-top: #000000 solid 10px;
    background: #ffffffb7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    animation: eyes 10s linear infinite;
    box-shadow: 0px 10px 10px 10px black, 0px -10px 10px 10px black;
}
.rightEye {
    width: 40%;
    height: 40%;
    border-top-left-radius: 100% 100px;
    border-top-right-radius: 40% 70px;
    border-bottom-right-radius: 70%;
    border: #000000 solid 5px;
    border-top: #000000 solid 10px;
    background: #ffffffb7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    animation: eyes 10s linear infinite;
    box-shadow: 0px 10px 10px 10px black,  0px -10px 10px 10px black;
}
.pupil {
    width: 30%;
    height: 35%;
    background: #0a0a0a;
    border-radius: 50%;
    border: solid #000000 3px;
}

