.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.head {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: solid green 1px;
    background: #74dd77;
}
.body {
    width: 25%;
    height: 25%;
    border-radius: 30px;
    border: solid green 1px;
    background: #74dd77;
}