.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.topOfHead {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: -3%;
}
.leftHorn {
    width: 10%;
    height: 130%;
    border-radius: 50%;
    border-left: 15px solid white;
    transform: rotate(-5deg);
}
.rightHorn {
    width: 10%;
    height: 130%;
    border-radius: 50%;
    border-right: 15px solid white;
    transform: rotate(5deg);
}
.ear {
    font-family: monospace;
    font-size: 3vmax;
    color: #74dd77;
}
.head {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #74dd77;
    border-bottom-left-radius: 40% 30%;
    border-bottom-right-radius: 40% 30%;
    z-index: +1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.face {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.leftEye {
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
    border-top: outset 6px #256b27;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: -25px 20px 15px -10px #e9baa8;
}
.rightEye {
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
    border-top: outset 6px #256b27;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 20px 15px -10px #e9baa8;
}
.eyeColor {
    width: 70%;
    height: 60%;
    background: #000000;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.pupil {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #ffffff;
}
.mouth {
    height: 50%;
    width: 30%;
    border-radius: 50%;
    border-bottom: solid 4px #256b27;
    color: #43b346;
    line-height: 10px;
    margin-bottom: -15%;
    font-size: 1.4vmax;
}
.body {
    width: 25%;
    height: 25%;
    border-bottom-left-radius: 40% 30%;
    border-bottom-right-radius: 40% 30%;
    border-top-left-radius: 40% 70%;
    border-top-right-radius: 40% 70%;
    background: #74dd77;
    margin-top: -3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.arms {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.leftArm {
    width: 30%;
    height: 100%;
    border-radius: 70%;
    border-right: solid #256b27 1px;
    border-bottom: solid #256b27 3px;
}
.rightArm {
    width: 30%;
    height: 100%;
    border-radius: 70%;
    border-left: solid #256b27 1px;
    border-bottom: solid #256b27 3px;
}
.leftArmClaws {
    font-family: monospace;
    line-height: 110px;
}
.rightArmClaws {
    font-family: monospace;
    line-height: 110px;
}
.legs {
    width: 120%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftLeg {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    border: solid #256b27  1px;
    background: #74dd77;
    border-radius: 50%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 80%;
}
.leftClaws {
    font-family: monospace;
    margin-left: -80%;
    transform: rotate(-35deg);
    margin-top: -5%;
}
.rightLeg {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border: solid #256b27 1px;
    background: #74dd77;
}
.rightClaws {
    font-family: monospace;
    margin-left: 65%;
    transform: rotate(40deg);
    margin-top: -10%;
}