.container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.head {
    width: 23%;
    height: 25%;
    background: linear-gradient(44deg, #ffffff 49%, transparent 50%);
    border-radius: 5%;
    transform: rotate(45deg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.eye {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    transform: rotate(-40deg);
    font-size: 2vmax;
    margin-top: 10%;
    margin-left: 10%;
}
.spine {
    width: 100%;
    height: 10%;
    background: #ffffff;
    transform: rotate(-45deg);
    margin-left: -10%;
}
.vertebrae {
    width: 5%;
    height: 140%;
    background: #ffffff;
    border-radius: 50%;
    transform: rotate(-45deg);
    margin-top: -30%;
    margin-left: -40%;
}
.vertebrae2 {
    width: 1.5%;
    height: 40%;
    background: #ffffff;
    border-radius: 50%;
}
.spine2 {
    width: 4%;
    height: 2.5%;
    background: #ffffff;
    margin-top: 4%;
}