.container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
}
.tree {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    height: 95%;
    width: 18%;
}
.branches {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    overflow: hidden;
    height: 100%;
    width: 80%;
}
.branch {
    width: 120%;
    height: 40%;
    border-right: solid black 10px;
    border-bottom: solid black 10px;
    border-top-right-radius: 40% 90%;
    border-bottom-left-radius: 40% 90%;
    transform: rotate(-20deg);
}
.branch2 {
    width: 120%;
    height: 20%;
    border-right: solid black 7px;
    border-bottom: solid black 5px;
    border-top-right-radius: 50px 90%;
    border-bottom-left-radius: 40% 90%;
    transform: rotate(-70deg);
}
.trunk {
    height: 99%;
    width: 15%;
    background: #010101;
    border-top-left-radius: 10% 90%;
    border-top-right-radius: 90% 80%;
    border: solid transparent 1px;
    align-self: flex-end;
}
.branch3 {
    width: 60%;
    height: 20%;
    border-left: solid black 7px;
    border-bottom: solid black 5px;
    border-top-left-radius: 50px 90%;
    border-bottom-right-radius: 40% 90%;
    transform: rotate(10deg);
}
.tree1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 15%;
    border: black 1px solid;
}
.trunk1 {
    height: 89%;
    width: 20%;
    background: #010101;
    border-top-left-radius: 90% 80%;
    border-top-right-radius: 60% 80%;
}
.tree2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 30%;
    border: black 1px solid;
}
.moon {
    width: 45%;
    height: 20%;
    border-radius: 50%;
    background: radial-gradient(circle at 10%, #e5f0f9de 0%, #e5e488 100%);
    background-size: 80px 60px;
    align-self: flex-start;
}
.trunk2 {
    height: 99%;
    width: 15%;
    background: #010101;
    border-top-left-radius: 90% 70%;
    border-top-right-radius: 10% 60%;
}