.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.leftArm {
    width: 6%;
    height: 20%;
    background: #f6f2e6;
    transform: rotate(45deg) translateX(30%);
    border-radius: 40px;
}
.body {
    width: 35%;
    height: 60%;
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: +1;
}
.topBody {
 width: 100%;
 height: 50%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 border: solid green 1px;
 background: #f6f2e6;
}
.bottomBody {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.leftBody {
    width: 33%;
    height: 100%;
    border: solid orange 1px;
    background: #f6f2e6;
}
.middleBody {
    width: 33%;
    height: 100%;
    border: solid blue 1px;
    background: #f6f2e6;
}
.rightBody {
    width: 33%;
    height: 100%;
    border: solid pink 1px;
    background: #f6f2e6;
}
.rightArm {
    width: 6%;
    height: 20%;
    background: #f6f2e6;
    transform: rotate(-30deg) translateX(-30%);
    border-radius: 40px;
}