.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.body {
    width: 40%;
    height: 60%;
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}