@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
.container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Syne Tactile', cursive;
}