@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
.container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: 'Syne Tactile', cursive;
}
.eyeOfNewt {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.eonLid {
    height: 8%;
    width: 70%;
    border-radius: 30px;
    background: #0a0a0ab7;
}

.eonJar {
    height: 92%;
    width: 100%;
    border-radius: 30px;
    background: #b2cfccb7;
    background: linear-gradient(173deg, #b2cfccb7 0%, #82f573ad 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.eonLabel {
    width: 60%;
    height: 30%;
    background: #383838;
    border-radius: 30%;
    margin-top: 30%;
}
.newtEye {
    width: 20%;
    height: 15%;
    border-radius: 50%;
    background: #0e6403;
    margin-top: 30%;
    margin-left: -30%;
    box-shadow: 10px -10px 1px 1px #ffffff inset;
}
.batWing {
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bwLid {
    width: 20%;
    height: 20%;
    border-radius: 10%;
    background: linear-gradient(100deg, #94571a 0%, #5c2605 20%, #582810 34%, #7f390a 48%, #582008 65%, #a56828 82%, #94571a 100%);
}
.bwRim {
    width: 23%;
    height: 5%;
    background: #2e2e2e80;
    margin-top: -4%;
}
.bwJar {
    width: 100%;
    height: 85%;
    background: linear-gradient(50deg, #0a0a0a 0%, #2e2e2e80 50%, #000000 100%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bwLabel {
    width: 60%;
    height: 18%;
    background: #ffffff;
    border: 3px #000000 double;
    color: #000000;
    font-size: 1.5vmax;
}
.frogsBreath {
        width: 15%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
}
.fbLid {
    width: 20%;
    height: 20%;
    border-radius: 10%;
    background: linear-gradient(100deg, #94571a 0%, #5c2605 20%, #582810 34%, #7f390a 48%, #582008 65%, #a56828 82%, #94571a 100%);
}
.fbRim {
    width: 23%;
    height: 5%;
    background: #6deca280;
    margin-top: -10%;
}
.fbJar {
    width: 100%;
    height: 85%;
    background: linear-gradient(70deg, #000000c7 0%, #6deca280 80%, #9fffc7c7 100%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.fbLabel {
    width: 80%;
    height: 30%;
    border-radius: 50%;
    background: #000000;
    line-height: 30px;
}
.spiderLeg {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: solid 1px brown;
}