@keyframes moveLight {
 0% {
    left: 35%;
    top: 20%;
 }
 5% {
    left: 45%;
    top: 20%;
 }
 10% {
    left: 50%;
    top: 20%;
 }
 15% {
    left: 28%;
    top: 33%;
 }
 20% {
    left: 35%;
    top: 33%;
 }
 25% {
    left: 40%;
    top: 33%;
 }
 30% {
    left: 45%;
    top: 33%;
 }
 35% {
    left: 40%;
    top: 45%;
 }
 40% {
    left: 44%;
    top: 45%;
 }
 45% {
    left: 48%;
    top: 45%;
 }
 50% {
    left: 53%;
    top: 55%;
 }
 55% {
    left: 58%;
    top: 55%;
 }
 60% {
    left: 61%;
    top: 55%;
 }
 65% {
    left: 35%;
    top: 68%;
 }
 70% {
    left: 40%;
    top: 68%;
 }
 75% {
    left: 45%;
    top: 68%;
 }
 80% {
    left: 50%;
    top: 68%;
 }
 85% {
    left: 55%;
    top: 68%;
 }
 90% {
    left: 60%;
    top: 68%;
 }
 95% {
    left: 60%;
    top: 68%;
 }
 100% {
    left: 60%;
    top: 68%;
 }
}