.container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.body {
    width: 40%;
    height: 40%;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 20px #000000;
}