.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}
.jacketWrapper {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.leftSleeve {
    width: 8%;
    height: 60%;
    transform: rotate(25deg);
    background: linear-gradient(0deg, #f88e8a  0%, #f6f2e6 60%, #f6f2e6 90%, transparent 100%);
    border-top-left-radius: 50px 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.leftSide {
    width: 13%;
    height: 100%;
    background: linear-gradient(0deg, #f88e8a  0%, #f6f2e6 70%);
    border-top-left-radius: 100px 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
}
.leftSideTop {
    width: 100%;
    height: 50%;
}
.collar1 {
    width: 70%;
    height: 20%;
    margin-left: 65%;
    margin-top: -15%;
    transform: rotate(0deg);
    z-index: +2;
    background: linear-gradient(250deg, #f6f2e6 0%, #f88e8a 100%);
}
.collar2 {
    width: 70%;
    height: 40%;
    transform: rotate(-37deg);
    margin-left: 70%;
    margin-top: -10%;
    z-index: +2;
    background: linear-gradient(250deg, #f6f2e6 0%, #f88e8a  100%);
}
.leftSideBottom {
    width: 100%;
    height: 50%;
}
.middle {
    width: 10%;
    height: 90%;
    background: #0A0C1Ad8;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: 'Shrikhand', cursive;
}
.tag {
    width: 50%;
    height: 5%;
    border: dotted #ffc002 1px;
    color: #f73b13;
    background: #f6f2e6;
    font-size: 5px;
}
.sizeTag {
    width: 18%;
    height: 5%;
    font-size: 7px;
    background: #ffc002;
    color: #f6f2e6;
}
.rightSide {
    width: 13%;
    height: 100%;
    background: linear-gradient(0deg, #f88e8a  0%, #f6f2e6 70%);
    border-top-right-radius: 100px 100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.rightSideTop {
    width: 100%;
    height: 50%;
}
.collar3 {
    width: 70%;
    height: 20%;
    margin-left: -35%;
    margin-top: -15%;
    transform: rotate(5deg);
    z-index: +2;
    background: linear-gradient(250deg, #f88e8a   0%, #f6f2e6 100%);
}
.collar4 {
    width: 70%;
    height: 40%;
    transform: rotate(37deg);
    margin-left: -40%;
    margin-top: -8%;
    z-index: +1;
    background: linear-gradient(250deg, #f88e8a   0%, #f6f2e6 100%);
}
.rightSideBottom {
    width: 100%;
    height: 50%;
}
.rightSleeve {
    width: 8%;
    height: 60%;
    transform: rotate(-25deg);
    background: linear-gradient(0deg, #f88e8a  0%, #f6f2e6 60%, #f6f2e6 90%, transparent 100%);
    border-top-right-radius: 50px 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

