.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.handle {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    border: solid #ffffff 20px;
    margin-right: -5%;
}
.body {
    width: 50%;
    height: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.knob {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #272727;
    margin-top: -7%;
}
.lid {
    width: 50%;
    height: 20%;
    border-radius: 50%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    background: #272727;
}
.spout {
    width: 5%;
    height: 15%;
    border-top-right-radius: 60% 10%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 90%;
    border-right: solid #ffffff 25px;
    border-bottom: solid #ffffff 20px;
    margin-left: -5%;
    transform: rotate(30deg);
}
.face {
    height: 80%;
    width: 70%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eyes {
    width:80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #000000;
    font-size: 1.5vmax;
    text-shadow: 1px 2px 2px #000000, 1px 1px 1px #000000, -1px 1px 1px #000000;
}
.leftEye {
    height: 100%;
    width: 32%;
    border-top-left-radius: 90% 50%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 60%;
    background: #000000;
}
.rightEye {
    height: 95%;
    width: 30%;
    border-top-left-radius: 60% 80%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 90%;
    background: #000000;
}
.mouth {
    width: 80%;
    height: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 70%;
    border-bottom: solid black 8px;
    color: #000000;
    line-height: 100px;
    margin-top: -8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.leftStitches {
    height: 5%;
    width: 33%;
    line-height: 5px;
    font-size: 2vmax;
    transform: rotate(10deg);
}
.middleStitches {
    height: 5%;
    width: 33%;
    line-height: 6px;
    font-size: 2vmax;
    transform: rotate(-5deg);
}
.rightStitches {
    height: 5%;
    width: 33%;
    line-height: 0px;
    font-size: 2vmax;
    transform: rotate(-20deg);
    align-self: flex-end;
    margin-bottom: 5%;
}