.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.body {
    width: 50%;
    height: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background: #ffffff;
}