.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.handle {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    border: solid #ffffff 20px;
    margin-right: -5%;
}
.body {
    width: 50%;
    height: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.knob {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #272727;
    margin-top: -7%;
}
.lid {
    width: 50%;
    height: 20%;
    border-radius: 50%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    background: #272727;
}
.spout {
    width: 5%;
    height: 15%;
    border-top-right-radius: 60% 10%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 90%;
    border-right: solid #ffffff 25px;
    border-bottom: solid #ffffff 20px;
    margin-left: -5%;
    transform: rotate(30deg);
}
.face {
    height: 80%;
    width: 70%;
    border-radius: 50%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eyes {
    width:80%;
    height: 40%;
    border: solid 1px red;
}
