
@keyframes beam {
    0% {
        box-shadow: -120px 25px 10px 25px #f3efe4bd,
        -100px 20px 10px 20px #f7eed6d2, 
        -80px 15px 10px 15px #f5ebd1d2,
        -60px 10px 10px 10px #f7eccede,
        -50px 5px 10px 5px #f7eac6cc,
        -40px 5px 10px 5px #f7eac6d2,
        -30px 3px 8px 3px #f7eac6e1,
        -25px 0px 5px 1px #f7eac6e1,
        -20px 0px 5px 0px #f7eac6e7,
        -15px 0px 5px 0px #f7eac6e7,
        -10px 0px 5px 0px #f7eac6f5; 
    }
    50% {
        box-shadow: 120px 25px 10px 25px #f3efe4bd,
        100px 20px 10px 20px #f7eed6d2, 
        80px 15px 10px 15px #f5ebd1d2,
        60px 10px 10px 10px #f7eccede,
        50px 5px 10px 5px #f7eac6cc,
        40px 5px 10px 5px #f7eac6d2,
        30px 3px 8px 3px #f7eac6e1,
        25px 0px 5px 1px #f7eac6e1,
        20px 0px 5px 0px #f7eac6e7,
        15px 0px 5px 0px #f7eac6e7,
        10px 0px 5px 0px #f7eac6f5;
  }
  100% {
    box-shadow: -120px 25px 10px 25px #f3efe4bd,
    -100px 20px 10px 20px #f7eed6d2, 
    -80px 15px 10px 15px #f5ebd1d2,
    -60px 10px 10px 10px #f7eccede,
    -50px 5px 10px 5px #f7eac6cc,
    -40px 5px 10px 5px #f7eac6d2,
    -30px 3px 8px 3px #f7eac6e1,
    -25px 0px 5px 1px #f7eac6e1,
    -20px 0px 5px 0px #f7eac6e7,
    -15px 0px 5px 0px #f7eac6e7,
    -10px 0px 5px 0px #f7eac6f5; 
}
}