.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.topOfHead {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: -3%;
}
.leftHorn {
    width: 10%;
    height: 130%;
    border-radius: 70%;
    border-left: 10px solid white;
    border-top: 10px solid white;
    transform: rotate(-20deg);
}
.rightHorn {
    width: 10%;
    height: 130%;
    border-radius: 50%;
    border-right: 10px solid white;
    border-top: 10px solid white;
    transform: rotate(20deg);
}
.body {
    width: 40%;
    height: 50%;
    background: #c187ed;
    border-radius: 50%;
    z-index: +1;
}
.feet {
    width: 15%;
    height: 5%;
    margin-bottom: -15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1%;
}
.foot {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftFoot {
    transform: rotate(10deg);
}
.rightFoot {
    transform: rotate(-10deg);
}
.toe {
    width: 30%;
    height: 100%;
    border-radius: 30%;
    border-bottom-left-radius: 70% 90%;
    border-bottom-right-radius: 70% 90%;
    background: #FFC002;
}