@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.topOfHead {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: -3%;
}
.leftHorn {
    width: 10%;
    height: 130%;
    border-radius: 70%;
    border-left: 10px solid white;
    border-top: 10px solid white;
    transform: rotate(-20deg);
}
.rightHorn {
    width: 10%;
    height: 130%;
    border-radius: 50%;
    border-right: 10px solid white;
    border-top: 10px solid white;
    transform: rotate(20deg);
}
.body {
    width: 40%;
    height: 50%;
    background: #c187ed;
    border-radius: 50%;
    z-index: +1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.topEye {
    width: 20%;
    height: 15%;
    border-radius: 50%;
    background: #ffffff;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.rowEyes {
    width: 70%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.leftEye {
    height: 100%;
    width: 40%;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.rightEye {
    height: 70%;
    width: 30%;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.blackEye {
    width: 50%;
    height: 50%;
    background: #000000;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.pupil {
    width: 40%;
    height: 40%;
    background: #ffffff;
    border-radius: 50%;
    margin: auto;
}
.mouth {
    width: 40%;
    height: 3%;
    border-top: solid #ff7aac 5px;
    margin-top: 6%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: right;
    line-height: 12px;
}
.feet {
    width: 15%;
    height: 5%;
    margin-bottom: -15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1%;
}
.foot {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftFoot {
    transform: rotate(10deg);
}
.rightFoot {
    transform: rotate(-10deg);
}
.toe {
    width: 30%;
    height: 100%;
    border-radius: 30%;
    border-bottom-left-radius: 70% 90%;
    border-bottom-right-radius: 70% 90%;
    background: #FFC002;
}
