.container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.topOfHead {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -1%;
}
.ear {
    font-family: monospace;
    font-size: 5vmax;
    color: #fd9e9b;
}
.ear.left {
    transform: rotate(-20deg);
}
.ear.right {
    transform: rotate(20deg);
}
.head {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #fd9e9b;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: +1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.face {
    width: 120%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.leftEye {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    background: #f0c1bf;
    transform: scale(1.3);
}
.rightEye {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    background: #f0c1bf;
    transform: scale(1.3);
}
.body {
    width: 35%;
    height: 30%;
    border-radius: 50%;
    background: #f0c1bf;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -5%;
}