.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ring {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 50%, #c7aadd 90%);
    transform: rotateX(80deg) scaleX(1.2) scaleY(1.2);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ring2 {
    width:80%;
    height: 80%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 50%, #c14c96 90%);
}
