.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: +2;
}
.ring {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    border: #c14c9677 5px solid;
    background: radial-gradient(circle, transparent 50%, #c7aadd 90%);
    transform: rotateX(80deg) scaleX(1.2) scaleY(1.2) skewY(-10deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.ring2 {
    width:85%;
    height: 95%;
    border-radius: 50%;
    border: #f88e8a77 5px solid;
    background: radial-gradient(circle, transparent 50%, #c14c96 70%, transparent 100%);
    transform: skewY(5deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.ring3 {
    width:80%;
    height: 80%;
    border-radius: 50%;
    border: #c7aadd77 5px solid;
    background: radial-gradient(circle, transparent 50%, #f88e8a 90%);
    transform: skewY(-10deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.saturn {
    width: 25%;
    height: 100%;
    transform: rotateX(0deg) scaleX(3) scaleY(3) skewY(10deg);
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    background: linear-gradient(180deg, #c14c96d0 0%, #f88e8a 10%, #c14c96 35%, #c7aadd 55%, transparent 64%, transparent 67%, #f88e8a 78%, #c14c96d0 100%);
}