.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ring {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 50%, #c7aadd 90%);
    transform: rotateX(80deg) scaleX(1.2) scaleY(1.2) skewY(-10deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.ring2 {
    width:85%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 50%, #c14c96 70%, transparent 100%);
    transform: skewY(10deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.ring3 {
    width:80%;
    height: 70%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 50%, #f88e8a 90%);
    transform: skewY(10deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
