.container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.topOfHead {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -1%;
}
.ear {
    font-family: monospace;
    font-size: 5vmax;
    color: #b2b2b2;
    text-shadow: 4px -1px 1px #464646, -4px 1px 1px #464646, 0px -8px 1px #464646;
}
.ear.left {
    transform: rotate(-20deg);
}
.ear.right {
    transform: rotate(20deg);
}
.head {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 70% 80%;
    border-bottom-right-radius: 70% 80%;
    background: #b2b2b2;
    z-index: +1;
    margin-bottom: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eyes {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftEye {
    height: 70%;
    width: 45%;
    border-radius: 50%;
    border-top: #ffffff solid 20px;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    background: #454545;
}
.rightEye {
    height: 70%;
    width: 45%;
    border-radius: 50%;
    border-top: #ffffff solid 20px;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    background: #454545;
}
.pupil {
width: 20%;
height: 20%;
background: #000000;
border-radius: 50%;
margin: auto;
margin-top: 10%;
border-left: solid 3px #ffffff;
border-right: solid 3px #ffffff;
}
.mouth {
    width: 40%;
    height: 30%;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    background: #ffffff;
    margin-top: -10%;
}
.body {
    height: 35%;
    width: 30%;
    background: #b2b2b2;
    border-top-left-radius: 70%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 70% 80%;
    border-bottom-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.tummy {
    width: 50%;
    height: 60%;
    background: #ffffff;
    border-radius: 50%;
    border: solid 2px #dadada;
}
.tail {
    width: 100%;
    height: 30%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(274deg, #b2b2b2 0%, #b2b2b2 10%, #454545 11%,#454545 32%, #b2b2b2 33%, #b2b2b2 52%, #454545 53%, #454545 73%, #b2b2b2 74%, #b2b2b2 94%, #454545 95%);
}