.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.antennas {
    width: 20%;
    height: 15%;
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}