.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.antennas {
    width: 25%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftAntenna {
    height: 100%;
    width: 20%;
    border-right: solid 10px #0d0d0d;
    border-top: solid 10px #0d0d0d;
    transform: rotate(-10deg);
}
.inneraAntennaL {
    width: 60%;
    height: 30%;
    border-left: solid 7px #0d0d0d;
    border-bottom: solid 5px #0d0d0d;

}
.rightAntenna {
    height: 100%;
    width: 20%;
    border-left: solid 10px #0d0d0d;
    border-top: solid 10px #0d0d0d;
    transform: rotate(10deg);
    display: flex;
    justify-content: flex-end;
}
.inneraAntennaR {
    width: 60%;
    height: 30%;
    border-right: solid 7px #0d0d0d;
    border-bottom: solid 5px #0d0d0d;

}
.head {
width:27%;
height: 30%;
border-radius: 50%;
background: #0f0f0f;
margin-top: -1%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
}
.eyes {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.eye {
    background: radial-gradient(circle at 90% 10%, #ea9a0b 0%, #ffab01 50%, #ffce00 70%, #fffeef 90%);
    width: 35%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 6px 3px #fcdd64d3;
}
.body {
    width: 45%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.leftArm {
    width: 33%;
    height: 100%;
    border-left: solid 10px #0d0d0d;
    border-top: solid 10px #0d0d0d;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20%;
    transform: rotate(20deg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.torso {
    width: 33%;
    height: 100%;
    background: #0d0d0d;
    border-radius: 40%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
}
.rightArm {
    width: 33%;
    height: 100%;
    border-right: solid 10px #0d0d0d;
    border-top: solid 10px #0d0d0d;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20%;
    transform: rotate(-60deg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.leftHand {
    width: 30%;
    height: 30%;
    border-left: solid 7px #0d0d0d;
    border-top: solid 6px #0d0d0d;
    border-top-left-radius: 20% 50%;
    border-top-right-radius: 20% 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(-20deg);
    margin-bottom: 10%;
}
.rightHand {
    width: 30%;
    height: 30%;
    border-right: solid 7px #0d0d0d;
    border-top: solid 6px #0d0d0d;
    border-top-left-radius: 20% 50%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(40deg);
    margin-bottom: 10%;
}
.legs {
    width: 20%;
    height: 25%;
    border: solid red 1px;
}