.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.antennas {
    width: 25%;
    height: 15%;
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftAntenna {
    height: 100%;
    width: 20%;
    border-right: solid 10px #0d0d0d;
    border-top: solid 10px #0d0d0d;
    transform: rotate(-10deg);
}
.inneraAntennaL {
    width: 60%;
    height: 30%;
    border-left: solid 5px #0d0d0d;
    border-bottom: solid 7px #0d0d0d;

}
.rightAntenna {
    height: 100%;
    width: 20%;
    border-left: solid 10px #0d0d0d;
    transform: rotate(10deg);
}