.container {
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.leftLeg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 70%;
    width: 30%;
}
.rightLeg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 70%;
    width: 30%;
}
.legging {
    height: 60%;
    width: 25%;
    background: linear-gradient(180deg, #f18819 10%, #781f72 11%, #781f72 21%, #f18819 22%, #f18819 32%, #781f72 33%, #781f72 43%, #f18819 44%, #f18819 55%, #781f72 56%, #781f72 66%, #f18819 67%, #f18819 77%, #781f72 78%, #781f72 88%, #f18819 89%);
    z-index: +1;
}
.rightLegging {
    margin-left: 4%;
}
.upper {
    width: 33%;
    height: 10%;
    background: #000000;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin-top: -3%;
    border-top: solid 10px #3f3f3f;
}
.middleLeft {
    width: 36%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    margin-left: -4%;
}
.middleShoeLeft {
    height: 100%;
    width: 70%;
    background: #000000;
    transform: rotate(13deg);
    margin-top: -9%;
    border-right: solid 3px #000000;
}
.leftHeel {
    height: 100%;
    width: 20%;
    background: #000000;
}
.bottomLeft {
    height: 15%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
    align-self: flex-start;
    margin-top: -10%;
}
.leftTip {
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom: 30px solid #000000;
    margin-left: 25%;
    margin-bottom: 5%;
    transform: rotate(14deg);
}
.leftEnd {
    height: 100%;
    width: 45%;
    background: #000000;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    transform: rotate(13deg);
    margin-top: -15%;
    margin-left: -25%;
}
.leftBuckle {
    width: 40%;
    height: 40%;
    border: solid 5px gold;
    margin-left: 10%;
}
.rightBoot {
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
}
.rightHeel {
    height: 100%;
    width: 10%;
    background: #000000;
}
.rightMiddle {
    height: 120%;
    width: 25%;
    background: #000000;
    transform: rotate(-30deg);
    margin-left: 15%;
    margin-bottom: 10%;
}
.rightEnd {
    width: 60%;
    height: 100%;
    margin-left: -16%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
    border-bottom: solid #000000 30px;
}
.rightBuckle {
    width: 40%;
    height: 30%;
    border-top: solid 5px gold;
    border-bottom: solid 5px gold;
    border-left: solid 5px gold;
    margin-left: 50%;
    margin-top: 30%;
}