.container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.cap {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: solid 1px #e9b2f7e3;
    background: #e9b2f79c;
    box-shadow: 1px 3px 1px 1px inset #e9b2f79c, -3px 0px 10px 10px inset #e9b2f7d7;
}
.neckRidge {
    width: 11%;
    height: 1%;
    border-radius: 20px;
    border: solid 1px #e9b2f7e3;
    background: #e9b2f79c;
    box-shadow: 4px 3px 1px 1px inset #c59df370;
    margin-top: -.5%;
}
.neck {
    width: 9%;
    height: 10%;
    border: solid 1px #e9b2f7e3;
    border-bottom: none;
    background: #e9b2f770;
    box-shadow: 10px 3px 10px 1px inset #c59df39a;
}
.bottle {
    width: 35%;
    height: 50%;
    border-bottom: solid 5px #e9b2f7e3;
    border-radius: 20%;
    background: #e9b2f770;
    box-shadow: 5px 10px 10px 5px inset #c59df36c, -5px -15px 10px -10px inset #c59df36c;
    background: linear-gradient(0deg, #c59df3 0%, #f39def 50%, #e9b2f770 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.skullTop {
    width: 60%;
    height: 40%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 90% 30%;
    border-bottom-right-radius: 30%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.skullBottom {
    height: 15%;
    width: 30%;
    background: #ffffff;
    margin-left: 15%;
    margin-top: -5%;
    transform: rotate(5deg);
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.teeth {
    width: 25%;
    height: 60%;
    border-left: 3px solid #c59df3;
    border-right: 3px solid #c59df3;
}