.container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.cap {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: solid 1px #e9b2f7e3;
    background: #e9b2f79c;
    box-shadow: 1px 3px 1px 1px inset #e9b2f79c, -3px 0px 10px 10px inset #e9b2f7d7;
}
.neckRidge {
    width: 11%;
    height: 1%;
    border-radius: 20px;
    border: solid 1px #e9b2f7e3;
    background: #e9b2f79c;
    box-shadow: 4px 3px 1px 1px inset #c59df370;
    margin-top: -.5%;
}
.neck {
    width: 9%;
    height: 10%;
    border: solid 1px #e9b2f7e3;
    border-bottom: none;
    background: #e9b2f770;
    box-shadow: 10px 3px 10px 1px inset #c59df39a;
}