.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.umbrellaTip {
    width: 1%;
    height:3%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background: #363636;
}