.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.umbrellaTip {
    width: 1%;
    height:3%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background: #363636;
    margin-left: -20%;
}
.umbrella {
    width: 40%;
    height: 20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(90deg, #fd8600 32%, #781f72 33%, #781f72 67%, #fd8600 68% );
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    margin-left: -20%;
}
.umbrellaCurl {
    height: 20%;
    width: 32%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #868386;
}
.umbrellaCurlMiddle {
    height: 20%;
    width: 34%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #868386;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
.curlHandle {
    width: 8%;
    height: 100%;
    background: #363636;
}
.handle {
    width: 1.1%;
    height: 1%;
    background: #363636;
    margin-left: -20%;
}
.cloud {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background: radial-gradient(circle, #ffffff 55%, transparent 56%);
}
.cloudBubble1 {
    width: 40%;
    height: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
}
.cloudHandle {
    width: 20%;
    height: 70%;
    border-left: solid 7px #363636;
    margin-right: 2%;
    margin-top: -8%;
}
.cloudHandle2 {
    width: 20%;
    height: 70%;
    border-left: solid 7px #363636;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom: solid 10px #363636;
    margin-right: 17.5%;
    margin-top: -8%;
}
.cloudBubble2 {
    width: 40%;
    height: 50%;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}
.leftEye {
    width: 10%;
    height: 20%;
    background: #000000;
    border-radius: 50%;
    margin-top: 20%;
}
.rightEye {
    width: 24%;
    height: 40%;
    background: #000000;
    border-radius: 50%;
    margin-top: 40%;
    z-index: +1;
}
.cloudBubble3 {
    width: 50%;
    height: 70%;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
}
.cloudBubble4 {
    width: 50%;
    height: 60%;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mouth {
    width: 50%;
    height: 20%;
    border-top: #000000 solid 5px;
    margin-left: -30%;
    border-radius: 60%;
    transform: rotate(-10deg);
}
.rain {
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}
.rainDrop3 {
    width: 20%;
    height: 25%;
    border-radius: 0 50% 50% 50%;
    background: #0778d48c;
    transform: rotate(40deg);
    margin-top: 20px;
  }
  .rainDrop2 {
    width: 30%;
    height: 35%;
    border-radius: 0 50% 50% 50%;
    background: #0778d48c;
    transform: rotate(40deg);
    margin-top: -20%;
  }
  .rainDrop1 {
    width: 10%;
    height: 15%;
    border-radius: 0 50% 50% 50%;
    background: #0778d48c;
    transform: rotate(40deg);
    margin-top: 25%;
  }