@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
body {
    margin: auto;
    background: #000000 url(assets/background.png);
    overscroll-behavior: none;
    text-align: center;
}
h1 {
    font-family: 'Shrikhand', cursive;
    color: #F6F2E9;
    margin: auto;
    padding: 3%;
    font-size: 9vmin;
    text-shadow: 2px 2px #FFC002, 4px 4px #ffc002;
    letter-spacing: 2vw;
}
.container {
    height: 70vh;
    width: 40%;
    margin: auto;
    border-radius: 50%;
    background: #afadadbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}