.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.leaves {
    width: 40%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leafA {
    height: 100%;
    width: 50%;
    background: linear-gradient(-10deg, #71be4f 0%, #649e43 50%, #71be4f 100%);
    border-top-left-radius: 200px 100px;
    border-bottom-left-radius:  200px 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.leafB {
    height: 100%;
    width: 50%;
    background: linear-gradient(10deg, #71be4f 0%, #649e43 50%, #71be4f 100%);
    border-top-right-radius: 200px 100px;
    border-bottom-right-radius: 200px 50px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.headTop {
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headPoint {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 50px solid #fbe15f
}
.firstHeadPoint {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #fbe15f;
    transform: rotate(-27deg);
    margin-top: 10%;
}
.lastHeadPoint {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid  #fbe15f;
    transform: rotate(27deg);
    margin-top: 10%;
}
.body {
    width: 30%;
    height: 40%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #fbe15f;
}