.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.chocolateBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    height: 40%;
    border-left: solid #bebfc1 20px;
    background: #fd9e9b;
    background: linear-gradient(90deg, #fd9e9b 0%, #fd9e9b 63%, transparent 60%);
}
.barName {
    font-size: 3vmax;
    color: #F6F2E9;
    width: 60%;
    height: 70%;
    border: double #F6F2E9 5px;
}
.silverWrapper {
    width: 40%;
    height: 100%;
    background: linear-gradient(120deg, #bebfc1 0%, #bebfc1 43%, transparent 50%);
    z-index: +2;
}
.chocolateSquares {
    width: 30%;
    height: 40%;
    background: #6f332a;
    margin-left: -23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.singleSquare {
    width: 40%;
    height: 22%;
    background: #6f332a;
    border: solid 6px #380c03d7;
}