.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.chocolateBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
    height: 40%;
    border-left: solid #bebfc1 20px;
    background: #fd9e9b;
}
.barName {
    font-size: 3vmax;
    color: #F6F2E9;
    width: 60%;
    height: 70%;
    border: double #F6F2E9 5px;
}
.silverWrapper {
    width: 40%;
    height: 100%;
    background: rgb(255,255,255);
background: linear-gradient(120deg, #bebfc1 0%, #bebfc1 43%, transparent 50%);
}