.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.chocolateBar {
    width: 80%;
    height: 40%;
    border-left: solid #bebfc1 20px;
}