@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.container {
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 80px;
}

.treeTop {
    font-size: 16vmax;
    color: #ffffff;
    z-index: +2;
    
}
.treeMiddle {
    font-size: 18vmax;
    color: #f95f22;
    z-index: +1;
}
.treeBottom {
    font-size: 20vmax;
    color: #f5e236;
}
.trunk {
    font-size: 5vmax;
    color: #ffffff;
    line-height: 190px;
}

