@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.container {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}



