.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ufoDome {
    background: radial-gradient(circle at 90% 5%, #d9e4ec 0%, #8fb0c5 30%, #fbfbfd 70%, #647a87 100%);
    width: 40%;
    height: 30%;
    border-radius: 50%;
}
.ufoBody {
    border-top: ridge #8c959e 15px;
    width: 80%;
    height: 20%;
    background: radial-gradient(circle at 20% 10%, #93939c 0%, #676976 25%, #777f8a 45%, #7d868f 65%, #505b63 80%, #777d81 100%);
    border-radius: 60%;
    transform: skewX(-20deg);
    margin-top: -14%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.lights {
    text-align: justify;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    transform: skewX(30deg);
}
.firstLight {
    color: #1670e9;
   font-size: 7vmin;
   margin-top: 18%;
   animation: blink 300ms infinite linear;
}
.secondLight {
    color: #8ae4ff;
   font-size: 7vmin;
   animation: blink 300ms 1s infinite linear;
}
.thirdLight {
    color: #1670e9;
   font-size: 7vmin;
   animation: blink 300ms infinite linear;
}
.fourthLight {
    color: #8ae4ff;
    font-size: 7vmin;
    animation: blink 300ms 1s infinite linear;
}
.ufoBottom {
    margin-bottom: -6%;
    width: 50%;
    height: 20%;
    border-radius: 60%;
    border-top: #3c4248 ridge 20px;
    border-bottom: solid #f8ffffc9 3px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    background: linear-gradient(270deg, #1670e9 0%, #8ae4ff 20%, #f8ffff 50%, #8ae4ff 80%, #1670e9 100%);
    transform: skewX(20deg) translateX(10%) rotate(-1deg);
}
.ufoBeam {
    width: 35%;
    height: 50%;
    margin-left: 2%;
    margin-bottom: -11%;
    background: linear-gradient(270deg, #1671e9a1 0%, #8ae4ffa1 20%, #f8ffffa1 50%, #8ae4ffa1 80%, #1671e9a1 100%);
    animation: beamUp 5s linear infinite;
}