.container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.broom {
    width: 15%;
    height: 60%;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.handle {
    width: 10%;
    height: 70%;
    border-radius: 50px;
    background: #482e6b;
}
