.container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.broom {
    width: 15%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.handle {
    width: 10%;
    height: 70%;
    border-top-left-radius: 50px 90px;
    background: #482e6b;
}
.strawTop {
    width: 12%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: -10%;
    background: #f49abe63;
}
.strand {
    width: 15%;
    height: 100%;
}
.s1 {
    background: #f49abe;
    transform: rotate(-10deg);
    margin-bottom: 5%;
}
.s2 {
    background: #9773b2;
    transform: rotate(-5deg);
}
.s3 {
    background: #ec5daf;
    transform: rotate(-1deg);
}
.s4 {
    background: #74478d;
}
.s5 {
    background: #f49abe;
}
.s6 {
    background: #9773b2;
    transform: rotate(1deg);
}
.s7 {
    background: #ec5daf;
    transform: rotate(5deg);
}
.s8 {
    background: #74478d;
    transform: rotate(10deg);
    margin-bottom: 5%;
}
.band {
    width: 14%;
    height: 2%;
    border-radius: 20%;
    border-top: 4px solid #e2108c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background: #f49abe63;
}
.s11 {
    background: #f49abe;
}
.s21 {
    background: #9773b2;
}
.s31 {
    background: #ec5daf;
}
.s41 {
    background: #74478d;
}
.s51 {
    background: #f49abe;
}
.s61 {
    background: #9773b2;
}
.s71 {
    background: #ec5daf;
}
.s81 {
    background: #74478d;
}
.bottom {
    width: 45%;
    height: 20%;
    border-radius: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: -1%;
}
.strands {
    width: 5%;
    height: 100%;
    border-bottom-right-radius: 50%;
    border-top: 4px solid #e2108c;
}
.sa {
    background: #f49abe;
    transform: rotate(20deg);
    margin-bottom: 5%;
}
.sb {
    background: #9773b2;
    transform: rotate(18deg);
}
.sc {
    background: #ec5daf;
    transform: rotate(16deg);
}
.sd {
    background: #74478d;
    transform: rotate(14deg);
}
.se {
    background: #f49abe;
    transform: rotate(12deg);
}
.sf {
    background: #74478d;
    transform: rotate(10deg);
}
.sg {
    background: #693390;
    transform: rotate(8deg);
}
.sf1 {
    background: #9773b2;
    transform: rotate(6deg);
}
.sg1 {
    background: #ec5daf;
    transform: rotate(4deg);
}
.sf2 {
    background: #74478d;
    transform: rotate(-2deg);
}
.sg2 {
    background: #f49abe;
    transform: rotate(-6deg);
}
.sf3 {
    background: #693390;
    transform: rotate(-8deg);
}
.sg3 {
    background: #74478d;
    transform: rotate(-10deg);
}
.sh {
    background: #c73698;
    transform: rotate(-12deg);
}
.si {
    background: #f86ba0;
    transform: rotate(-14deg);
}
.sj {
    background: #9773b2;
    transform: rotate(-16deg);
}
.sk {
    background: #ec5daf;
    transform: rotate(-18deg);
}
.sl {
    background: #74478d;
    transform: rotate(-20deg);
    margin-bottom: 5%;
}
.signContainer {
    width: 15%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.poleTop {
    width: 10%;
    height: 5%;
    background: linear-gradient(90deg, #7c7a7a 0%, #656464 15%, #656464 27%, #3f3e3e 40%, #3f3e3e 50%, #656464 62%, #c6c5c5 75%, #545454 87%, #929292 100%);
}
.sign {
    width: 100%;
    height: 35%;
    border-radius: 20%;
    border: solid #ec5daf 5px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1vmax;
}
.poleBottom {
    width: 10%;
    height: 60%;
    background: linear-gradient(90deg, #7c7a7a 0%, #656464 15%, #656464 27%, #3f3e3e 40%, #3f3e3e 50%, #656464 62%, #c6c5c5 75%, #545454 87%, #929292 100%);
}
.hat {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.topHat {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    border-left: 30px black solid;
    border-top: 5px black solid;
    border-bottom-left-radius: 0%;
    margin-left: 15%;
}
.hatBand {
    width: 80%;
    height: 12%;
    border-radius: 40%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-left: -10%;
    background: #820dc4;
}
.buckle {
    width: 20%;
    height:40%;
    border: solid 3px gold;
    margin: auto;
}
.brim {
    width: 120%;
    height: 12%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 40%;
    background: #000000;
    margin-left: -2%;
}